In [2]:
import pandas as pd

In [3]:
train_data = pd.read_csv('train.csv')

In [13]:
train_data.head(10)

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074
5,5,dsgdb9nsd_000001,2,3,2JHH,-11.2541
6,6,dsgdb9nsd_000001,2,4,2JHH,-11.2548
7,7,dsgdb9nsd_000001,3,0,1JHC,84.8093
8,8,dsgdb9nsd_000001,3,4,2JHH,-11.2543
9,9,dsgdb9nsd_000001,4,0,1JHC,84.8095

## Краткое описание таблицы

scalar_coupling_constant - перемнная для предсказания  
molecule_name - скорее всего данные по этой переменной находятся в папке structures. А название перменной соотвествует файлу  
atom_index_0 и atom_index_1 - номера атомов, которые образуют друг с другом связь

In [5]:
test_data = pd.read_csv('test.csv')

In [6]:
test_data.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

In [7]:
dipole_moments  = pd.read_csv('dipole_moments.csv')

In [8]:
dipole_moments.head()

      molecule_name       X    Y       Z
0  dsgdb9nsd_000001  0.0000  0.0  0.0000
1  dsgdb9nsd_000002 -0.0002  0.0  1.6256
2  dsgdb9nsd_000003  0.0000  0.0 -1.8511
3  dsgdb9nsd_000005  0.0000  0.0 -2.8937
4  dsgdb9nsd_000007  0.0000  0.0  0.0000

## Краткое описание таблицы

molecule_name - больше информации в папке structures. Через него можно будет джойниться к train и test

In [9]:
magnetic_shielding_tensors = pd.read_csv('magnetic_shielding_tensors.csv')

In [11]:
magnetic_shielding_tensors.head()

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
0,dsgdb9nsd_000001,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
1,dsgdb9nsd_000001,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,dsgdb9nsd_000001,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,dsgdb9nsd_000001,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,dsgdb9nsd_000001,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013

## Краткое описание таблицы

atom_index - номер атома в молекуле(molecule_name)

In [15]:
mulliken_charges = pd.read_csv('mulliken_charges.csv')

In [16]:
mulliken_charges.head()

      molecule_name  atom_index  mulliken_charge
0  dsgdb9nsd_000001           0        -0.535689
1  dsgdb9nsd_000001           1         0.133921
2  dsgdb9nsd_000001           2         0.133922
3  dsgdb9nsd_000001           3         0.133923
4  dsgdb9nsd_000001           4         0.133923

In [17]:
potential_energy = pd.read_csv('potential_energy.csv')

In [18]:
potential_energy.head()

      molecule_name  potential_energy
0  dsgdb9nsd_000001         -40.52368
1  dsgdb9nsd_000002         -56.56025
2  dsgdb9nsd_000003         -76.42608
3  dsgdb9nsd_000005         -93.42849
4  dsgdb9nsd_000007         -79.83869

## Краткое описание таблицы

В таблице каждая строка соответсвует одной молекуле

In [19]:
scalar_coupling_contributions = pd.read_csv('scalar_coupling_contributions.csv')

In [20]:
scalar_coupling_contributions.head()

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.272010
1,dsgdb9nsd_000001,1,2,2JHH,-11.0347,0.352978,2.85839,-3.433600
2,dsgdb9nsd_000001,1,3,2JHH,-11.0325,0.352944,2.85852,-3.433870
3,dsgdb9nsd_000001,1,4,2JHH,-11.0319,0.352934,2.85855,-3.433930
4,dsgdb9nsd_000001,2,0,1JHC,83.0222,0.254585,1.25861,0.272013

In [21]:
strcuts = pd.read_csv('structures.csv')

In [22]:
strcuts.head()

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

## Краткое описание

Готовое описание атомов: тип и координаты